/*!
 * {{ title }} v{{ version }}
 * Minimal WebGL-based 2D visualization library
 * {{{ homepage }}}
 * 
 * Released under the Apache license 2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Date: {{{ date }}}
 */
